<%- include("layout/header.ejs"); %>
<style>
    .__date-edit {
        display: none;
    }
</style>
<div class="main">
   <nav class="top-nav teal lighten-2">
        <div class="container">
            <div class="nav-wrapper">
                <span class="brand-logo">Jastar-time</span>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">На главную</a></li>
                    <li><a href="/admin/">Список лет</a></li>
                    <li><a href="/admin/month/<%= year.id_year %>">Список месяцев</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                            <div class="background" style="background-color: teal;"></div>
                        </div>
                    </li>
                    <li><a href="/">На главную</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="/admin/">Список лет</a></li>
                    <li><a href="/admin/month/<%= year.id_year %>">Список месяцев</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>

    <div class="container">

        <!-- Список дат -->
        <section class="date">
            <div class="row __date">
                <!-- Заголовок формы -->
                <div class="col s12 m12">
                    <h3 class="left-align">Список дат</h3>
                </div>
                <!-- end point `заголовок формы` -->

                <!-- Форма создания даты -->
                <form name="createForm" class="col s12 m12">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <input type="text" class="datepicker" placeholder="Выберите дату">
                        </div>
                        <div class="submit-field col s12 m12">
                            <button id="submitCreateDate" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                                <i class="material-icons right">send</i>
                            </button>
                            <button class="waves-effect waves-light btn" type="reset">Сбросить</button>
                        </div>
                    </div>
                </form>
                <!-- end point `форма создания даты` -->
            </div>

            <!-- Таблица со списком дат -->
            <div class="row __date">
                <div class="col s12 m12">
                    <table id="tableDate" value="<%= id_month %>" class="highlight">
                        <thead>
                          <tr>
                              <th class="hide-on-small-only">Id</th>
                              <th>Дата</th>
                              <th>Операции</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for ( let iterator of docs ) { %>
                                <tr id="tr__<%= iterator._id %>">
                                    <!-- ячейка с `ID` -->
                                    <td class="hide-on-small-only">
                                        <%= iterator._id %>
                                    </td>
                                    <!-- ячейка со значением даты -->
                                    <td id="td__<%= iterator._id %>">
                                        <a href="/admin/lesson/<%= iterator._id %>"><%= iterator.full_date %></a>
                                    </td>
                                    <!-- ячейка с операциями -->
                                    <td>
                                        <a onclick="editSelectDate('<%= iterator._id %>')" class="editLink waves-effect waves-light btn"><i class="small material-icons">edit</i></a>
                                        <a onclick="delSelectDate('<%= iterator._id %>')" class="removeLink waves-effect waves-light btn"><i class="small material-icons">delete</i></a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
            <!-- end point `таблица со списком дат` -->

            <div class="row __date-edit">
                <!-- Заголовок формы -->
                <div class="col s12 m12">
                    <h2 class="left-align">Форма изменения данных</h2>
                </div>
                <!-- end point `заголовок формы` -->

                <!-- Форма редактирования -->
                <form name="editForm" class="col s12 m12">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <input type="text" class="datepicker" placeholder="Выберите дату">
                        </div>
                        <div class="submit-field col s12 m12">
                            <button id="submitEditDate" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                                <i class="material-icons right">send</i>
                            </button>
                            <button class="waves-effect waves-light btn" type="reset">Сбросить</button>
                            <button onclick="triggerForm()" class="waves-effect waves-light btn" type="reset">Не изменять данные</button>
                        </div>
                    </div>
                </form>
                <!-- End point `форма редактирования` -->
            </div>
        </section>
        <!-- End point `cписок дат` -->
        
    </div>
</div>

<script src="/javascripts/date.min.js"></script>
<%- include("layout/footer.ejs"); %>