<%- include("layout/header.ejs") %>
<header class="heading">
    <div class="container">
        <div class="title">
            <h1>Расписание занятии инновационого центра</h1>
        </div>
    </div>
</header>
<div class="main">
    <div class="container">
        <div class="grid row">
            <% lessons.forEach( lesson => { %>
                <div class="lesson">
                    <div class="date">
                        <%= lesson.date.day %>
                        <%= lesson.date.month.title %>
                        <%= lesson.date.year %>
                    </div>
                    <div class="quantity">
                        <%= lesson.date.total %>
                    </div>
                    <a href="/lesson/<%= lesson.id %>" class="link show" onclick="">Смотреть</a>
                </div>   
            <%  }); %>
        </div>
    </div>
</div>
<%- include("layout/footer.ejs") %>