<%- include("layout/header.ejs") %>
    <header class="heading">
        <div class="container">
            <div class="title">
                <h1>Расписание занятии инновационого центра</h1>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="grid col">
                <% data.date.lessons.forEach(les => { %>
                    <div class="lesson">
                        <div class="date">
                            <img class="planner" src="images/clock.svg" alt="planner">
                            <span class="start">
                                <%= data.date.day + ' ' + data.date.month.title + ' ' + data.date.year %>,
                                <%= les.time_start.hour + ':' + les.time_start.minutes + ' - ' + les.time_end.hour + ':' + les.time_end.minutes %>
                            </span> 
                        </div>
                        <hr>
                        <div class="adress">
                            <img class="location" src="images/location.png" alt="location">
                            <span class="text"><%= les.location %></span>
                        </div>
                        <hr>
                        <div class="title">
                            <img class="laptop" src="images/laptop.png" alt="laptop">
                            <span class="text"><%= les.title %></span>
                        </div>
                        <hr>
                        <div class="group">
                            <img class="people" src="images/people.png" alt="people">
                            <span class="text"><%= les.group %></span> 
                        </div>
                    </div>  
                <% }); %>
                <div class="control">
                    <a href="/" class="link back">На главную страницу</a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <%- include("layout/footer.ejs") %>
