<%- include("layout/header.ejs"); %>
<style>
    .__lesson-edit {
        display: none;
    }
</style>
<div class="main">
    <nav class="top-nav teal lighten-2">
        <div class="container">
            <div class="nav-wrapper">
                <span class="brand-logo">Jastar-time</span>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">На главную</a></li>
                    <li><a href="/admin/date/<%= month.id_month %>">Список дат</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                            <div class="background" style="background-color: teal;"></div>
                        </div>
                    </li>
                    <li><a href="/">На главную</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="/admin/date/<%= month.id_month %>">Список дат</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>

    <div class="container">

        <!-- Список уроков -->
        <section class="lesson">
            <div class="row __lesson">
                <!-- Заголовок формы -->
                <div class="col s12 m12">
                    <h3 class="left-align">Список уроков</h3>
                </div>
                <!-- end point `заголовок формы` -->

                <!-- Форма создания уроков -->
                <form name="createForm" class="col s12 m12">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <input type="text" class="timepicker" placeholder="Выберите время-начало">
                            <input type="text" class="timepicker" placeholder="Выберите время-окончания">
                            <input id="titleCreate" type="text" class="validate" minlength="3" maxlength="255" placeholder="Название урока">
                            <textarea id="descCreate" class="materialize-textarea validate" minlength="3" maxlength="255" placeholder="Описание урока"></textarea>
                        </div>
                        <div class="submit-field col s12 m12">
                            <button id="submitCreateLesson" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                                <i class="material-icons right">send</i>
                            </button>
                            <button class="waves-effect waves-light btn" type="reset">Сбросить</button>
                        </div>
                    </div>
                </form>
                <!-- end point `форма создания даты` -->
            </div>

            <!-- Таблица со списком дат -->
            <div class="row __lesson">
                <div class="col s12 m12" style="overflow-x:auto;">
                    <table id="tableLesson" value="<%= id_date %>" class="highlight">
                        <thead>
                          <tr>
                              <th>Время</th>
                              <th>Название</th>
                              <th>Описание</th>
                              <th>Операции</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for ( let iterator of docs ) { %>
                                <tr id="tr__<%= iterator._id %>">
                                    <!-- ячейка со временем урока -->
                                    <td id="time__<%= iterator._id %>">
                                        <%= iterator.time_start %>
                                        -
                                        <%= iterator.time_end %>
                                    </td>
                                    <!-- ячейка с заголовком урока -->
                                    <td id="title__<%= iterator._id %>">
                                        <%= iterator.title %>
                                    </td>
                                    <!-- ячейка с описанием урока -->
                                    <td id="desc__<%= iterator._id %>">
                                        <%= iterator.desc %>
                                    </td>
                                    <!-- ячейка с операциями -->
                                    <td>
                                        <a onclick="editSelectLesson('<%= iterator._id %>')" class="editLink waves-effect waves-light btn"><i class="small material-icons">edit</i></a>
                                        <a onclick="delSelectLesson('<%= iterator._id %>')" class="removeLink waves-effect waves-light btn"><i class="small material-icons">delete</i></a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
            <!-- end point `таблица со списком дат` -->

            <div class="row __lesson-edit">
                <!-- Заголовок формы -->
                <div class="col s12 m12">
                    <h2 class="left-align">Форма изменения уроков</h2>
                </div>
                <!-- end point `заголовок формы` -->

                <!-- Форма редактирования -->
                <form name="editForm" class="col s12 m12">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <input type="text" class="timepicker" placeholder="Выберите время-начало">
                            <input type="text" class="timepicker" placeholder="Выберите время-окончания">
                            <input id="titleEdit" type="text" class="validate" minlength="3" maxlength="255" placeholder="Название урока">
                            <textarea id="descEdit" class="materialize-textarea validate" minlength="3" maxlength="255" placeholder="Описание урока"></textarea>
                        </div>
                        <div class="submit-field col s12 m12">
                            <button id="submitEditLesson" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                                <i class="material-icons right">send</i>
                            </button>
                            <button class="waves-effect waves-light btn" type="reset">Сбросить</button>
                            <button onclick="triggerForm()" class="waves-effect waves-light btn" type="reset">Не изменять данные</button>
                        </div>
                    </div>
                </form>
                <!-- End point `форма редактирования` -->
            </div>
        </section>
        <!-- End point `cписок дат` -->
        
    </div>
</div>

<script src="/javascripts/lesson.min.js"></script>
<%- include("layout/footer.ejs"); %>