<%- include("layout/header.ejs"); %>
<style>
    .__month-edit {
        display: none;
    }
</style>
<div class="main">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <div class="container">
                <ul id="nav-mobile" class="right">
                    <li><a href="/">На главную</a></li>
                    <li><a href="/admin">Список лет</a></li>
                    <li><a href="/auth/logout">Выйти</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="container">

        <!-- Список месяцев -->
        <section class="month">
            <div class="row __month">
                <!-- Заголовок формы -->
                <div class="col s12 m12">
                    <h2 class="left-align">Список месяцев</h2>
                </div>
                <!-- end point `заголовок формы` -->

                <!-- Форма создания месяца -->
                <form name="createForm" class="col s12 m12">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <select class="browser-default">
                                <option disabled selected>Выберите месяц</option>
                                <option value="1">Январь</option>
                                <option value="2">Февраль</option>
                                <option value="3">Март</option>
                                <option value="4">Апрель</option>
                                <option value="5">Май</option>
                                <option value="6">Июнь</option>
                                <option value="7">Июль</option>
                                <option value="8">Август</option>
                                <option value="9">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                        </div>
                        <div class="submit-field col s12 m12">
                            <button id="submitCreateMonth" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                                <i class="material-icons right">send</i>
                            </button>
                            <button class="waves-effect waves-light btn" type="reset">Сбросить</button>
                        </div>
                    </div>
                </form>
                <!-- end point `форма создания года` -->
            </div>

            <div class="row __month">
                <!-- Таблица со списком месяцев -->
                <div class="col s12 m12">
                    <table id="tableMonth" value="<%= id_year %>" class="highlight">
                        <thead>
                          <tr>
                              <th class="hide-on-small-only">Id</th>
                              <th>Месяц</th>
                              <th>Операции</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for ( let iterator of docs ) { %>
                                <tr id="tr__<%= iterator._id %>">
                                    <!-- ячейка с `ID` -->
                                    <td class="hide-on-small-only">
                                        <%= iterator._id %>
                                    </td>
                                    <!-- ячейка со значением месяца -->
                                    <td id="td__<%= iterator._id %>">
                                        <a href="/admin/day/<%= iterator._id %>"><%= iterator.month.title %></a>
                                    </td>
                                    <!-- ячейка с операциями -->
                                    <td>
                                        <a onclick="editSelectMonth('<%= iterator._id %>')" class="editLink waves-effect waves-light btn"><i class="small material-icons">edit</i></a>
                                        <a onclick="delSelectMonth('<%= iterator._id %>')" class="removeLink waves-effect waves-light btn"><i class="small material-icons">delete</i></a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                      </table>
                </div>
                <!-- end point `таблица со списком месяцев` -->
            </div>

            <div class="row __month-edit">
                <!-- Заголовок формы -->
                <div class="col s12 m12">
                    <h2 class="left-align">Форма изменения данных</h2>
                </div>
                <!-- end point `заголовок формы` -->

                <!-- Форма редактирования -->
                <form name="editForm" class="col s12 m12">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <select class="browser-default">
                                <option value="" disabled selected>Выберите месяц</option>
                                <option value="1">Январь</option>
                                <option value="2">Февраль</option>
                                <option value="3">Март</option>
                                <option value="4">Апрель</option>
                                <option value="5">Май</option>
                                <option value="6">Июнь</option>
                                <option value="7">Июль</option>
                                <option value="8">Август</option>
                                <option value="9">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                        </div>
                        <div class="submit-field col s12 m12">
                            <button id="submitEditMonth" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                                <i class="material-icons right">send</i>
                            </button>
                            <button class="waves-effect waves-light btn" type="reset">Сбросить</button>
                            <button onclick="triggerForm()" class="waves-effect waves-light btn" type="reset">Не изменять данные</button>
                        </div>
                    </div>
                </form>
                <!-- End point `форма редактирования` -->
            </div>
        </section>
        <!-- End point `cписок месяцев` -->
        
    </div>
</div>

<script src="/javascripts/month.min.js"></script>
<%- include("layout/footer.ejs"); %>