<%- include("layout/header.ejs"); %>
<style>
    .__month-edit, .dates {
        display: none;
    }
    td {
        cursor: pointer;
    }
    #tableDates td:hover {
        background-color: #64b5f6;
    }
</style>
<div class="main">
    <nav class="top-nav teal lighten-2">
        <div class="container">
            <div class="nav-wrapper">
                <span class="brand-logo">Jastar-time</span>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">На главную</a></li>
                    <li><a href="/admin">Список лет</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                            <div class="background" style="background-color: teal;"></div>
                        </div>
                    </li>
                    <li><a href="/">На главную</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="/admin">Список лет</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>

    <div class="container">

        <!-- Список месяцев -->
        <section class="month">
            <div class="row __month">
                <!-- Заголовок формы -->
                <div class="col s12 m12">
                    <h3 class="left-align">Список месяцев</h3>
                </div>
                <!-- end point `заголовок формы` -->

                <!-- Форма создания месяца -->
                <form name="createForm" class="col s12 m12">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <select class="browser-default">
                                <option disabled selected>Выберите месяц</option>
                                <option value="1">Январь</option>
                                <option value="2">Февраль</option>
                                <option value="3">Март</option>
                                <option value="4">Апрель</option>
                                <option value="5">Май</option>
                                <option value="6">Июнь</option>
                                <option value="7">Июль</option>
                                <option value="8">Август</option>
                                <option value="9">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                        </div>
                        <div class="submit-field col s12 m12">
                            <button id="submitCreateMonth" class="btn waves-effect waves-light" type="submit" name="action">Сохранить
                                <i class="material-icons right">send</i>
                            </button>
                            <button class="waves-effect waves-light btn" type="reset">Сбросить</button>
                        </div>
                    </div>
                </form>
                <!-- end point `форма создания года` -->
            </div>

            <div class="row __month">
                <!-- Таблица со списком месяцев -->
                <div class="col s12 m12">
                    <table id="tableMonth" value="<%= id_year %>" class="highlight">
                        <thead>
                          <tr>
                              <th class="hide-on-small-only">Id</th>
                              <th>Месяц</th>
                              <th>Операции</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for ( let iterator of docs ) { %>
                                <tr id="tr__<%= iterator._id %>">
                                    <!-- ячейка с `ID` -->
                                    <td class="hide-on-small-only">
                                        <%= iterator._id %>
                                    </td>
                                    <!-- ячейка со значением месяца -->
                                    <td onclick="month.getDatesOfMonth('<%= iterator._id %>', '<%= iterator.month.title %>')">
                                        <%= iterator.month.title %>
                                    </td>
                                    <!-- ячейка с операциями -->
                                    <td>
                                        <a onclick="month.deleteMonth('<%= iterator._id %>')" class="removeLink waves-effect waves-light btn"><i class="small material-icons">delete</i></a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                      </table>
                </div>
                <!-- end point `таблица со списком месяцев` -->
            </div>

        </section>
        <!-- End point `cписок месяцев` -->
        
        <!-- Таблица с датами выбранного месяца -->
        <section class="dates">
            <div class="row __dates">
                <!-- Заголовок формы -->
                <div class="col s12 m12">
                    <h3 id="nameMonth" class="left-align"></h3>
                </div>
                <!-- end point `заголовок формы` -->
            </div>
            <div class="row __dates">
                <div class="col s12 m12">
                    <div id="tableDates" class="z-depth-1" style="overflow-x:auto;"></div>
                </div>
            </div>
        </section>
        <!-- End point `Таблица с датами выбранного месяца` -->
    </div>
</div>

<script src="/javascripts/month.min.js"></script>
<%- include("layout/footer.ejs"); %>